/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Whitney", sans-serif;
    font-size: 62.5%;
    margin: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* RESET MARGIN PAGE */

.container {
    margin: 0 7em;
}

/* Header */

header{
    height: 70px;
    background-color: #255ee8;
}

nav > div {
    display: inline-block;
    padding-top: 1.2em;
}

.h-nav.logo,
.h-nav.login {
    width: 15%;
    text-align: center;
}

.h-nav.center {
    width: 69.2%;
    text-align: center;
}

#logo-header{
    width: 80%;
    vertical-align: middle;
}

ul > li {
    display: inline-block;
}

.text-nbar {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    margin: 0 10px;
    vertical-align: middle;
    font-size: 1.5em;
}

.btn{
    padding: 10px 15px 10px;
    border: none;
    border-radius: 20px;
    font-size: 1.5em;
}

.btn.login{
    background-color: white;
}

/* /Header */

/* banner */

.banner-bg {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 400px;
}

.h-banner{
    text-align: center;
    margin: 0 7em .5em;
    color: white;
}

.title.h-banner {
    font-size: 4em;
    padding-top: 100px;
}

.text.h-banner {
    font-size: 1.5em;
    margin: 2em 18em;
}

.btn-header{
    text-align: center;
}

.btn.h-black{
    background-color: black;
    color: white;
    margin-left: 1em;
}

/* /banner */

/* first section */

.c-main{
    height: 50em;
}

.first-sect.column-2{
    width: 50%;
    height: 50em;
    display: inline-block;
    position: relative;
    left: 40%;
}

.first-sect.column-1{
    height: 50em;
    display: inline-block;
    position: absolute;
}

.micro-title-1,
.text-paragraph-1,
.micro-title-2,
.text-paragraph-2{
    padding: 0 160px;
    margin-top: 2em;
}

.micro-title-1{
    font-size: 4em;
}

.text-paragraph-1{
    font-size: 1.5em;
    line-height: 1.5em;
}

img.ph-section{
    height: 300px;
    margin-top: 15em;
}

/* /first section */

.second-section.c-main{
    background-color: lightgray;
    position: relative;
    top: 120px;

}

.second-sect.column-1{
    width: 50%;
    height: 50em;
    display: inline-block;
    position: relative;
    top: 50px;
}

.second-sect.column-2{ 
    display: inline-block;
    position: absolute;
}

.micro-title-2{
    font-size: 4em;
}

.text-paragraph-2{
    font-size: 1.5em;
    line-height: 1.5em;
}

img.ph-section.second-ph{
    position: relative;
    bottom: 70px;
}